.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 10px;
    align-items: center;
}

#currencySelect {
    height: 50px;
    width: 200px;
    background-color: #ebc56b;
    border-radius: 4px;
    font-weight: bold;
}

#currencyInput {
    height: 50px;
    width: 200px;
}

#currencyOutput {
    font-size: 24px;
    font-weight: bold;
}